.main__section {
    border: 2px solid red;
    width: 100%;
    display: grid;
    height: 100vh;
    align-content: center;
    grid-template-columns: 140px 426px 650px;
    grid-template-rows: 60px 280px 180px 130px;
    grid-template-areas:
        "menu search search week"
        "menu current current week"
        "menu hourly hourly week"
        "menu details details week"
    ;
    gap: 10px 10px;
    background-color: #75B4E3;

}

.main__section>div:not(:nth-child(3)) {
    background-color: #245A81;
    border-radius: 15px;
}

.abelFont {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu__div {
    background-color: green;
    grid-area: menu;
}

.current__weather {
    background-color: transparent;
    border: 2px solid black;
    grid-area: current;
}

.hourly__weather {
    background-color: yellow;
    grid-area: hourly;
}

.details {
    background-color: red;
    grid-area: details;
}

.week__forecast {
    background-color: black;
    grid-area: week;
}

.search {
    grid-area: search;
    height: 60px;
    border: 2px solid green;
}