.main__section {
    position: relative;
    width: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: 0.2fr 0.7fr 0.7fr;
    grid-template-rows: minmax(60px, auto) minmax(230px, auto) minmax(180px, auto) minmax(180px, auto);
    grid-template-areas:
        "menu search search "
        "menu current current "
        "menu hourly hourly "
        "menu details details "
    ;
    gap: 10px 10px;
    background-color: #0B131E;
    padding-inline: 10px;
}

.main__section>section:not(:nth-child(3)) {
    background-color: #202B3B;
    border-radius: 15px;
}

.main__section.light__mode {
    background-color: rgb(93, 115, 180);
}

.main__section.light__mode>section:not(:nth-child(3)) {
    background-color: transparent;
    border: 3px solid #2b235a;
}

/* current weater main section */

.current__weather {
    display: flex;
    row-gap: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    grid-area: current;
    padding: 10px;
}

/* hourly weather main section */
.hourly__weather {
    grid-area: hourly;
}

/* details(zodiac signs) main section */
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: details;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-color: transparent transparent;
    padding: 10px 15px;
}

/* week forecast */

.week__forecast {
    grid-area: week;
}

.search {
    grid-area: search;
    height: 60px;
    color: #d2dae7;
}

.search:hover,
.search:focus {
    border: 3px solid #2b235a;
    background-color: transparent;
}

/* menu__Sect */
.menu__sect {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    grid-area: menu;
    padding: 30px 10px 0 10px;
}

