body {
  user-select: none;
  overflow-y: hidden;

}
.font {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}


.abelFont {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app {
  display: flex;
  height: 100vh;
  row-gap: 50px;
}