body {
  user-select: none;
  overflow-y: auto;
  /* height: 100vh; */
}

.app {
  display: flex;
  min-height: 100vh;
  row-gap: 50px;
  /* border: 2px solid red; */
}

.font {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}


.abelFont {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}